body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	text-align: justify;
}

.align-right {
	text-align:right;
}

.align-center {
	margin: auto;
}

.bold {
	font-weight:700;
}

.relative {
	position:relative;
}

h2 {
	text-transform:uppercase;
	font-weight:800;
}

#navSection {
    position: fixed;
    top: 0px;
    width:100%;
    text-transform:uppercase;
    background: rgba(255, 255, 255, 0.95);
    z-index:999;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.95);
}

.slicknav_menu {
	display: none;
}

nav img {
	width: 70px;
}

nav a {
	color:#333333;
	text-decoration:none;
}

nav a:hover {
	color: #C92421;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    flex: 1;
    text-align: center;
    display: unset;
}

#menuMqDetector {float:left;}

.site-section {
	padding-top: 1em;
	padding-bottom: 2em;
}

#accueil {
	height: 100vh;
	overflow: hidden;
	background-image: url(/images/subtle_dots.png);
}

#fleur {
	width: 50vw;
	max-width: 500px;
	padding-left:  2em;
}

#apropos {	
	background-image: url(/images/squairy_light.png);
}

#prestations {
	background-image: url(/images/dust_scratches.png);
}

#tarifs {
	background: #e2e2e2;
}

#pressbook {
	background: whitesmoke;
}

#contact {
	background-image: url(/images/escheresque.png);
}

#mentionslegales {
	background-image: url(/images/grey.png);
}

#texte_accueil {
    text-align: right;
    position: absolute;
    top: 40vh;
    left: 50vw;
}

.apropos-part {
    padding-bottom: 2em;
}

h3 {
	font-size: 130%;
}

#prestations .inline_title {
    text-transform: uppercase;
    color: #c9242a;
}

.keywords ul{
    list-style: none;
}

.my-gallery  {
   /* Prevent vertical gaps */
   line-height: 0;
}


.my-gallery  figure {
	margin: auto;
	margin-bottom: 2.5em;
	display: inline-block;
}

.my-gallery  img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}


/* Desktop */
@media only screen and (min-width: 768px) {

    #menuMqDetector {float:left;}
	
	nav {
		font-size: 160%;
	}
	
	nav a {
		padding: 0.2em;
		line-height: 2em;
		display: inline-block;
	}
	#texte_accueil .titre {
		font-size: 400%;
	}
	#texte_accueil .desc {
		font-size: 200%;
	}
}

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) { 
    #menuMqDetector {float:left;}
	
	nav {
		font-size:120%;
	}
	
	nav img {
		width: 50px;
	}

		
	#accueil {
		max-height: 130vw;
	}
	
	#texte_accueil {
		text-align: right;
		position: absolute;
		top: 40vh;
		left: 0;
		right: 3em;
	}
	
	#texte_accueil .titre {
		font-size: 6.4321vw;
	}
	#texte_accueil .desc {
		font-size: 3.216vw;
	}	
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
    #menuMqDetector {float:none;}
	
	.slicknav_menu {
		display:block;
		position:fixed;
		width:100%;
		z-index:1000;
	}

	.slicknav_menu a {
		font-size: 170%;
		margin-left: 1em;
		text-align: left;
	}

	.slicknav_menu a:hover {
		text-decoration: none;
	}

	.slicknav_menu ul li:first-child a {
		padding: 0 !important;
		margin-left: 35vw;
		margin-bottom: 1em;
		width: 3.5em;
		height: 3.5em;
		background: #ccc;
		border-radius: 10px;
	}	

	.slicknav_menu img {
		display: block;
		width: 75px;
		padding-top: 5px;
		padding-left: 5px;		
	}
	
	.js #nav{
		text-align:center;
	}

	#nav {
		position:relative;
		padding-top:3.375em;
	}
    
    .no-js #nav {
        padding-top:1em;
    }
	
	#nav img {
		display:block;
		margin:0 auto;
	}
	
	#main {
		padding:0;
	}


	h2 {
		font-size:2em;
	}
					
	#accueil {
		max-height: 130vw;
		padding-top: 2em;
	}
	
	#texte_accueil {
		text-align: right;
		position: absolute;
		top: 60vw;
		left: 0;
		right: 20px;
	}
	
	#texte_accueil .titre {
		font-size: 6.4321vw;
	}
	#texte_accueil .desc {
		font-size: 3.216vw;
	}	

}

h3.with_icon:before {
	content: "\00a0";
	background-size: 2.5em;
	height: 2.5em;
	width: 2.5em;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5em;
}

.icon_redaction:before {
	background-image: url('/images/write.svg');
}

.icon_relecture:before {
	background-image: url('/images/relecture.svg');
}

.icon_presse:before {
	background-image: url('/images/presse.svg');
}

.icon_ecriture:before {
	background-image: url('/images/atelier_ecriture.svg');
}

.icon_medias:before {
	background-image: url('/images/medias.svg');
}

.icon_mail:before {
	background-image: url('/images/mail.svg');
}

.icon_phone:before {
	background-image: url('/images/phone.svg');
}

.icon_address:before {
	background-image: url('/images/address.svg');
}


