body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

.align-right {
	text-align:right;
}

.align-center {
	margin: auto;
}

.bold {
	font-weight:700;
}

.relative {
	position:relative;
}

h2 {
	text-transform:uppercase;
	font-weight:800;
}

#nav {
    position: fixed;
    top: 0px;
	width:100%;
	text-transform:uppercase;
	font-size: 1.2em;
    background: rgba(255, 255, 255, 0.95);
	z-index:999;
	box-shadow: 0 5px 5px rgba(255, 255, 255, 0.95);
}



#nav li {
	list-style: none;
}

#nav a {
	color:#333333;
	text-decoration:none;
}


.nav_links li {
    margin-top: 1em;
}

#nav a:hover {
	border-bottom:4px solid #ea0b25;
}

#menuMqDetector {float:left;}

.site-section {
	padding-top: 1em;
	padding-bottom: 2em;
}

#accueil {
	height: 100vh;
	overflow: hidden;
	background-image: url(/images/subtle_dots.png);
}


#apropos {	
	background-image: url(/images/squairy_light.png);
}

#prestations {
	background-image: url(/images/dust_scratches.png);
}

#tarifs {
	background: #e2e2e2;
}

#pressbook {
	background: whitesmoke;
}

#contact {
	background-image: url(/images/escheresque.png);
}

#mentionslegales {
	background-image: url(/images/grey.png);
}

#texte_accueil {
    margin-top: 50vh;
    text-align: right;
}

.apropos-part {
    text-align: justify;
    padding-bottom: 2em;
}

#prestations {
	text-align: justify;
}

h3 {
	font-variant: small-caps;
    font-size: 130%;
}

#prestations .inline_title {
    font-variant: small-caps;
    font-size: 120%;
	color: #ea0b25;
}

.keywords ul{
    list-style: none;
}

.my-gallery  {
   /* Prevent vertical gaps */
   line-height: 0;
}


.my-gallery  figure {
	margin: auto;
	margin-bottom: 2em;
	display: inline-block;
	min-height: 253px;
}

.my-gallery  img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}


/* Desktop */
@media only screen and (min-width: 768px) {
	.slicknav_menu {
		display: none;
	}
    #menuMqDetector {float:left;}
	
	.nav_links {
		display: flex;
		font-size: 130%;
	}
	
	.nav_links li {
		margin-top: 0.5em;
		flex: 1;
		text-align: center;
	}
	
	#texte_accueil .titre {
		font-size: 400%;
	}
	#texte_accueil .desc {
		font-size: 200%;
	}
}

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) { 
    #menuMqDetector {float:left;}
	#nav {
		font-size:0.8em;
	}
	
	.nav_links {
		display: flex;
		font-size: 130%;
	}
	
	.nav_links li {
		margin-top: 0.5em;
		flex: 1;
		text-align: center;
	}
	
	#texte_accueil .titre {
		font-size: 250%;
	}
	#texte_accueil .desc {
		font-size: 130%;
	}
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
    #menuMqDetector {float:none;}
	
	.slicknav_menu {
		display:block;
		position:fixed;
		width:100%;
		z-index:1000;
	}
	
	.js #nav{
		text-align:center;
	}

	#nav {
		position:relative;
		padding-top:3.375em;
	}
    
    .no-js #nav {
        padding-top:1em;
    }
	
	#nav img {
		display:block;
		margin:0 auto;
	}
	
	#main {
		padding:0;
	}
		
	h2 {
		font-size:2em;
	}
	
	#texte_accueil .titre {
		font-size: 200%;
	}
	#texte_accueil .desc {
		font-size: 120%;
	}
}
